<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>

    <!-- Libraries CSS Files -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/lib/animate-css/animate.min.css}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Custom css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- =======================================================
      Theme Name: Imperial
      Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
    <style>
    .search-button {
        padding: 8px 8px;
        background: #356e71;
        top: 7px;
        position: relative;
        border-radius: 0 20px 20px 0;
        opacity:0.6;
    }
    .mb-3 input{
        border-radius: 20px 0 0 20px;
        opacity:0.6;
        padding-left: 10px;
    }
    .search-field{
        border-radius:30px 0 0 30px;
    }
    .search-field-icon{
        border-radius:0 30px 30px 0;
    }
    </style>
</head>

<body>
<div id="preloader"></div>


<!--==========================
  Header Section
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="/"><img src="img/finallogodesign.png" alt="" title="" /></img></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/">Home</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#contact">Contact Us</a></li>
                <!--<li>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search " aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text search-button" id="basic-addon2"><i style="color:#FFFFFF;" class="fa fa-search"></i></span>
                        </div>
                    </div>
                </li>-->
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->

<!--==========================
  Item Portfolio Section
  ============================-->
<section id="portfolio">
    <div class="container wow fadeInUp">
        <!--<div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Products</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Latest products to choose from</p>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Products</h3>
                <div class="section-title-divider"></div>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control search-field" placeholder="Search product by name" id="filter-text" name="filter-text">
                        <div class="input-group-btn">
                            <button class="btn btn-default search-field-icon" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 list-element" th:each="prod : ${productList}" th:data-name="${prod.productName}">
                <a class="portfolio-item" th:style="'background-image: url('+${prod.productMedias[0].url}+');background-size: contain;'" th:href="'/productDetails?product='+${prod.productId}">
                    <div class="details">
                        <h4 th:text="${prod.productName}"></h4>
                        <span th:text="${prod.status}"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--==========================
Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    &copy; Copyright <strong>Gadget-Meter Studios</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Required JavaScript Libraries -->
<!--<script th:src="@{/javascript/jquery-3.3.1.min.js}"></script>-->
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/superfish/hoverIntent.js}"></script>
<script th:src="@{/lib/superfish/superfish.min.js}"></script>
<script th:src="@{/lib/morphext/morphext.min.js}"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/stickyjs/sticky.js}"></script>
<script th:src="@{/lib/easing/easing.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("body").on('keyup','#filter-text',function(e){
            e.preventDefault();
            var txt=$('#“filter-text').val();
            var regEx = new RegExp($.map($(this).val().trim().split(' '), function(v) {
                    return '(?=.*?' + v + ')';
                }).join(''), 'i');

            $('.list-element').hide().filter(function() {
                return regEx.exec($(this).text());
            }).show();
        });
    });
</script>
<!-- Template Specisifc Custom Javascript File -->
<script th:src="@{/javascript/custom.js}"></script>

<script th:src="@{/contactform/contactform.js}"></script>


</body>

</html>
